# Compiled Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.env

# Database files
data/db/
data/redis/dump.rdb
# Local development settings
*.sqlite3
*.db

# Secret keys
*.secret_key

# Media and static files (if not using a CDN)
media/
storage/

# IDE and editor-specific files
.vscode/
.idea/
*.sublime-*

# Compiled files
*.mo

# Logs
*.log

# Temporary files
*.tmp

# Compiled templates
*.template

# Dependency folders
bower_components/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# macOS-specific files
.DS_Store

# Temporary files
*~
*.bak
*.swp
*.swo
