<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hulkies Talkies{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>
<style>
.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    margin-top: -20px;  
}
body {
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box,
.chat-box {
  height: 510px;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}
h5 {
    border-top: 2px solid #243145;
    border-bottom: 2px solid #243145;

}
.select2-container {
    z-index: 100000;
}
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo-container">
            <img src="{% static 'img/logo-sm.png' %}" alt="Logo" class="logo">
        </div>
    </nav>

    <div class="container-fluid mt-4">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#ChatModal">Start Chat</a>
                        </li>
                    </ul>
                </div>
                <h5>Recent history</h5>
                <div class="messages-box">
                    <div class="list-group rounded-0">
                        {% for message in messages %}
                        <a href="javascript:void(0);" onclick="redirectToRoomDetail('{{ message.room.id }}')" class="list-group-item list-group-item-action list-group-item-light rounded-0">

                        
                                <div class="media"><img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg" alt="user" width="50" class="rounded-circle">
                                    <div class="media-body ml-4">
                                        <div class="d-flex align-items-center justify-content-between mb-1">
                                            <h6 class="mb-0">{{ message.room.name }}</h6><small class="small font-weight-bold">{{ message.latest_message.timestamp|date:"d M" }}</small>
                                        </div>
                                    <p class="font-italic text-muted mb-0 text-small">{{ message.latest_message.content }}</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </nav>
            {% block content %}
            {% endblock %}
        </div>
    </div>
<!-- Private Room Modal -->
<div class="modal fade" id="ChatModal" tabindex="-1" role="dialog" aria-labelledby="ChatModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ChatModalLabel">Start Private Chat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="privateChatForm" action="{% url 'new_room' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <select class="form-control" id="recipients" name="recipients" multiple style="width: 100%; z-index: 10000;">
                          {% for user in users %}
                              <option value="{{ user.id }}">{{ user.username }}</option>
                          {% endfor %}
                      </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Start Chat</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Private Room Modal -->
    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
      $(document).ready(function() {
          $('#recipients').select2();
      });
    </script>
<script>
    function redirectToRoomDetail(roomId) {
    const urlParams = new URLSearchParams(window.location.search);
    const accessToken = urlParams.get('access_token');
    const userId = urlParams.get('user_id');
    const roomName = urlParams.get('room_name');
    
    console.log("urlParams: ", urlParams);
    console.log("accessToken: ", accessToken);
    console.log("userId: ", userId);
    console.log("roomName: ", roomName);

    const headers = new Headers();
    headers.append('Authorization', `Bearer ${accessToken}`);

    console.log("headers: ", headers);

    const requestOptions = {
        method: 'GET',
        headers: headers,
        redirect: 'follow'
    };

    console.log("requestOptions: ", requestOptions);

    fetch(`/chat/room/${roomId}/?access_token=${accessToken}&user_id=${userId}&room_name=${roomName}`, requestOptions)
        .then(response => {
            console.log("Response status: ", response.status);
            return response.text();  // Read the response as text first
        })
        .then(data => {
            console.log("Response data: ", data);
            window.location.href = `/chat/room/${roomId}/`;
            try {
                const jsonData = JSON.parse(data);  // Try parsing as JSON
                console.log("Parsed JSON data: ", jsonData);
            } catch (error) {
                console.error('Error parsing JSON:', error);
            }
        })
        .catch(error => console.error('There was an error!', error));
}

</script>


    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Copyright &copy; 2024 Hulkies Talkies</span>
        </div>
    </footer>
</body>
</html>
